## Used car Price Prediction

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings('ignore')

%matplotlib inline

In [5]:
df = pd.read_csv('./cardekho_imputated.csv')

In [6]:
df.head()

   Unnamed: 0       car_name    brand  ... max_power  seats  selling_price
0           0    Maruti Alto   Maruti  ...     46.30      5         120000
1           1  Hyundai Grand  Hyundai  ...     82.00      5         550000
2           2    Hyundai i20  Hyundai  ...     80.00      5         215000
3           3    Maruti Alto   Maruti  ...     67.10      5         226000
4           4  Ford Ecosport     Ford  ...     98.59      5         570000

[5 rows x 14 columns]

In [7]:
df.isnull().sum()

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [8]:
df.head()

   Unnamed: 0       car_name    brand  ... max_power  seats  selling_price
0           0    Maruti Alto   Maruti  ...     46.30      5         120000
1           1  Hyundai Grand  Hyundai  ...     82.00      5         550000
2           2    Hyundai i20  Hyundai  ...     80.00      5         215000
3           3    Maruti Alto   Maruti  ...     67.10      5         226000
4           4  Ford Ecosport     Ford  ...     98.59      5         570000

[5 rows x 14 columns]

In [9]:
df.drop('Unnamed: 0', inplace=True, axis=1)
df.drop('car_name', inplace=True, axis=1)
df.drop('brand', inplace=True, axis=1)

In [10]:
df.head()

      model  vehicle_age  km_driven  ... max_power seats selling_price
0      Alto            9     120000  ...     46.30     5        120000
1     Grand            5      20000  ...     82.00     5        550000
2       i20           11      60000  ...     80.00     5        215000
3      Alto            9      37000  ...     67.10     5        226000
4  Ecosport            6      30000  ...     98.59     5        570000

[5 rows x 11 columns]

In [11]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [12]:
# geting all the Diffrennt Features
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print("Number of Numberical Features ", len(num_features))

cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print("Number of Categorical Features ", len(cat_features))

discrete_features = [feature for feature in num_features if len(df[feature].unique()) <= 25]
print("Number of Discrete Feature ", len(discrete_features))

continious_features = [feature for feature in num_features if feature not in discrete_features]
print("Number of Continous Features ", len(continious_features))

Number of Numberical Features  7
Number of Categorical Features  4
Number of Discrete Feature  2
Number of Continous Features  5

In [13]:
# independent and dependent features
X = df.drop(['selling_price'], axis=1)
y = df['selling_price']

In [14]:
X.head()

      model  vehicle_age  km_driven  ... engine max_power seats
0      Alto            9     120000  ...    796     46.30     5
1     Grand            5      20000  ...   1197     82.00     5
2       i20           11      60000  ...   1197     80.00     5
3      Alto            9      37000  ...    998     67.10     5
4  Ecosport            6      30000  ...   1498     98.59     5

[5 rows x 10 columns]

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [16]:
X.head()

   model  vehicle_age  km_driven seller_type  ... mileage engine  max_power  seats
0      7            9     120000  Individual  ...   19.70    796      46.30      5
1     54            5      20000  Individual  ...   18.90   1197      82.00      5
2    118           11      60000  Individual  ...   17.00   1197      80.00      5
3      7            9      37000  Individual  ...   20.92    998      67.10      5
4     38            6      30000      Dealer  ...   22.77   1498      98.59      5

[5 rows x 10 columns]

In [17]:
df['seller_type'].value_counts(), df['fuel_type'].value_counts(), df['transmission_type'].value_counts()

(seller_type
 Dealer              9539
 Individual          5699
 Trustmark Dealer     173
 Name: count, dtype: int64,
 fuel_type
 Petrol      7643
 Diesel      7419
 CNG          301
 LPG           44
 Electric       4
 Name: count, dtype: int64,
 transmission_type
 Manual       12225
 Automatic     3186
 Name: count, dtype: int64)

In [18]:
num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type', 'fuel_type', 'transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numberic_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
        ("StandardScaler", numberic_transformer, num_features)
    ], remainder='passthrough'
)

In [19]:
X = preprocessor.fit_transform(X)

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Model Training and Model Selection

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [22]:
def evaluate_model(true, predicted):
    mse = mean_squared_error(true, predicted)
    mae = mean_absolute_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2 = r2_score(true, predicted)
    return mae, rmse, r2

In [23]:
models = {
    "LinearRegression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "KNeighborsRegressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "RandomForestRegressor": RandomForestRegressor(),
    "AdaBoostRegressor": AdaBoostRegressor()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)
    
    print(list(models.keys())[i])

    print("----- Model Performanace for Training Set -----------")
    print("Root Mean Squared Error: ", model_train_rmse)
    print("Mean Absolute Error ", model_train_mae)
    print("R2 Score ", model_train_r2)

    print(" -------------------------------------------- ")

    print("----- Model Performanace for Testing Set -----------")
    print("Root Mean Squared Error: ", model_test_rmse)
    print("Mean Absolute Error ", model_test_mae)
    print("R2 Score ", model_test_r2)

    print()

LinearRegression
----- Model Performanace for Training Set -----------
Root Mean Squared Error:  559313.714379538
Mean Absolute Error  268437.65491493844
R2 Score  0.6183016322670536
 --------------------------------------------
----- Model Performanace for Testing Set -----------
Root Mean Squared Error:  507556.7987891693
Mean Absolute Error  281329.9041688134
R2 Score  0.6574571580301753

Lasso
----- Model Performanace for Training Set -----------
Root Mean Squared Error:  559313.7247257992
Mean Absolute Error  268436.5960019974
R2 Score  0.6183016181456367
 --------------------------------------------
----- Model Performanace for Testing Set -----------
Root Mean Squared Error:  507555.90115774097
Mean Absolute Error  281329.3312944437
R2 Score  0.657458369626392

Ridge
----- Model Performanace for Training Set -----------
Root Mean Squared Error:  559314.5337326486
Mean Absolute Error  268393.25894610153
R2 Score  0.6183005139466335
 --------------------------------------------
----- Model Performanace for Testing Set -----------
Root Mean Squared Error:  507539.4234900819
Mean Absolute Error  281276.8148706563
R2 Score  0.6574806103116513

KNeighborsRegressor
----- Model Performanace for Training Set -----------
Root Mean Squared Error:  338141.32168241084
Mean Absolute Error  91854.99212014461
R2 Score  0.860489833279681
 --------------------------------------------
----- Model Performanace for Testing Set -----------
Root Mean Squared Error:  287844.5554315982
Mean Absolute Error  116727.79519896193
R2 Score  0.8898304346912306

Decision Tree
----- Model Performanace for Training Set -----------
Root Mean Squared Error:  20329.743604291307
Mean Absolute Error  4728.889712926052
R2 Score  0.9994957183457035
 --------------------------------------------
----- Model Performanace for Testing Set -----------
Root Mean Squared Error:  370483.5588775184
Mean Absolute Error  132136.33398212225
R2 Score  0.8174913397123424

RandomForestRegressor
----- Model Performanace for Training Set -----------
Root Mean Squared Error:  116580.40973870367
Mean Absolute Error  39329.42808399073
R2 Score  0.9834170985117597
 --------------------------------------------
----- Model Performanace for Testing Set -----------
Root Mean Squared Error:  245017.61607430063
Mean Absolute Error  105690.38453171443
R2 Score  0.9201747628371583

AdaBoostRegressor
----- Model Performanace for Training Set -----------
Root Mean Squared Error:  447131.52052777295
Mean Absolute Error  355233.6869364067
R2 Score  0.7560617302245879
 --------------------------------------------
----- Model Performanace for Testing Set -----------
Root Mean Squared Error:  484959.5451485243
Mean Absolute Error  373771.6675065375
R2 Score  0.6872793062844238

In [24]:
ada_params = {
    'n_estimators': [50, 70, 90, 100, 200],
    'learning_rate': [0.05, 0.1, 0.5, 1.0, 1,5],
    'loss': ['linear', 'square', 'exponential'],
}

In [25]:
# model list for hyperparamter tuning
randomcv_models = [
    ('AdaBoostRegressor', AdaBoostRegressor(), ada_params),
]

In [26]:
from sklearn.model_selection import RandomizedSearchCV
model_params = {}

for name, model, params in randomcv_models:
    random = RandomizedSearchCV(
        estimator=model,
        param_distributions=params,
        n_iter=100, 
        cv=3,
        verbose=2,
        n_jobs=-1
    )

random.fit(X_train, y_train)
model_params[name] = random.best_params_

for model_name in model_params:
    print(f"----------------- Best Params for {model_name} -----------------")
    print(model_params[model_name])

Fitting 3 folds for each of 72 candidates, totalling 216 fits
[CV] END ...learning_rate=0.05, loss=linear, n_estimators=50; total time=   0.6s
[CV] END ...learning_rate=0.05, loss=linear, n_estimators=50; total time=   0.6s
[CV] END ...learning_rate=0.05, loss=linear, n_estimators=50; total time=   0.6s
[CV] END ..learning_rate=0.05, loss=linear, n_estimators=100; total time=   1.0s
[CV] END ..learning_rate=0.05, loss=linear, n_estimators=100; total time=   1.1s
[CV] END ..learning_rate=0.05, loss=linear, n_estimators=100; total time=   1.1s
[CV] END ...learning_rate=0.05, loss=square, n_estimators=50; total time=   0.4s
[CV] END ...learning_rate=0.05, loss=square, n_estimators=50; total time=   0.4s
[CV] END ..learning_rate=0.05, loss=linear, n_estimators=200; total time=   1.7s
[CV] END ..learning_rate=0.05, loss=linear, n_estimators=200; total time=   1.8s
[CV] END ...learning_rate=0.05, loss=square, n_estimators=50; total time=   0.5s
[CV] END ..learning_rate=0.05, loss=linear, n_estimators=200; total time=   1.6s
[CV] END ..learning_rate=0.05, loss=square, n_estimators=100; total time=   0.9s
[CV] END ..learning_rate=0.05, loss=linear, n_estimators=250; total time=   1.8s
[CV] END ..learning_rate=0.05, loss=square, n_estimators=100; total time=   0.8s
[CV] END ..learning_rate=0.05, loss=square, n_estimators=100; total time=   0.8s
[CV] END ..learning_rate=0.05, loss=linear, n_estimators=250; total time=   2.0s
[CV] END ..learning_rate=0.05, loss=linear, n_estimators=250; total time=   1.9s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=50; total time=   0.4s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=50; total time=   0.5s
[CV] END ..learning_rate=0.05, loss=square, n_estimators=200; total time=   1.7s
[CV] END ..learning_rate=0.05, loss=square, n_estimators=200; total time=   1.6s
[CV] END ..learning_rate=0.05, loss=square, n_estimators=200; total time=   1.8s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=100; total time=   1.0s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=100; total time=   1.0s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=100; total time=   1.0s
[CV] END ..learning_rate=0.05, loss=square, n_estimators=250; total time=   2.3s
[CV] END ..learning_rate=0.05, loss=square, n_estimators=250; total time=   2.2s
[CV] END ..learning_rate=0.05, loss=square, n_estimators=250; total time=   2.2s
[CV] END ....learning_rate=0.1, loss=linear, n_estimators=50; total time=   0.4s
[CV] END ....learning_rate=0.1, loss=linear, n_estimators=50; total time=   0.4s
[CV] END ....learning_rate=0.1, loss=linear, n_estimators=50; total time=   0.4s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=200; total time=   1.8s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=200; total time=   1.7s
[CV] END ...learning_rate=0.1, loss=linear, n_estimators=100; total time=   0.7s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=200; total time=   1.6s
[CV] END ...learning_rate=0.1, loss=linear, n_estimators=100; total time=   0.7s
[CV] END ...learning_rate=0.1, loss=linear, n_estimators=100; total time=   0.7s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=250; total time=   1.8s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=250; total time=   1.9s
[CV] END learning_rate=0.05, loss=exponential, n_estimators=250; total time=   1.9s
[CV] END ....learning_rate=0.1, loss=square, n_estimators=50; total time=   0.4s
[CV] END ....learning_rate=0.1, loss=square, n_estimators=50; total time=   0.4s
[CV] END ...learning_rate=0.1, loss=linear, n_estimators=200; total time=   1.3s
[CV] END ...learning_rate=0.1, loss=linear, n_estimators=200; total time=   1.4s
[CV] END ....learning_rate=0.1, loss=square, n_estimators=50; total time=   0.4s
[CV] END ...learning_rate=0.1, loss=linear, n_estimators=200; total time=   1.3s
[CV] END ...learning_rate=0.1, loss=square, n_estimators=100; total time=   0.8s
[CV] END ...learning_rate=0.1, loss=square, n_estimators=100; total time=   0.8s
[CV] END ...learning_rate=0.1, loss=square, n_estimators=100; total time=   0.8s
[CV] END ...learning_rate=0.1, loss=linear, n_estimators=250; total time=   1.8s
[CV] END ...learning_rate=0.1, loss=linear, n_estimators=250; total time=   1.8s
[CV] END ...learning_rate=0.1, loss=linear, n_estimators=250; total time=   1.9s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=50; total time=   0.4s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=50; total time=   0.4s
[CV] END ...learning_rate=0.1, loss=square, n_estimators=200; total time=   1.5s
[CV] END ...learning_rate=0.1, loss=square, n_estimators=200; total time=   1.5s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=50; total time=   0.4s
[CV] END ...learning_rate=0.1, loss=square, n_estimators=200; total time=   1.4s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=100; total time=   0.8s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=100; total time=   0.8s
[CV] END ...learning_rate=0.1, loss=square, n_estimators=250; total time=   1.7s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=100; total time=   0.8s
[CV] END ...learning_rate=0.1, loss=square, n_estimators=250; total time=   1.6s
[CV] END ...learning_rate=0.1, loss=square, n_estimators=250; total time=   1.6s
[CV] END ....learning_rate=0.5, loss=linear, n_estimators=50; total time=   0.3s
[CV] END ....learning_rate=0.5, loss=linear, n_estimators=50; total time=   0.4s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=200; total time=   1.3s
[CV] END ....learning_rate=0.5, loss=linear, n_estimators=50; total time=   0.3s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=200; total time=   1.4s
[CV] END ...learning_rate=0.5, loss=linear, n_estimators=100; total time=   0.6s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=200; total time=   1.3s
[CV] END ...learning_rate=0.5, loss=linear, n_estimators=100; total time=   0.6s
[CV] END ...learning_rate=0.5, loss=linear, n_estimators=100; total time=   0.6s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=250; total time=   1.6s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=250; total time=   1.8s
[CV] END learning_rate=0.1, loss=exponential, n_estimators=250; total time=   1.7s
[CV] END ...learning_rate=0.5, loss=linear, n_estimators=200; total time=   0.9s
[CV] END ...learning_rate=0.5, loss=linear, n_estimators=250; total time=   0.6s
[CV] END ....learning_rate=0.5, loss=square, n_estimators=50; total time=   0.3s
[CV] END ....learning_rate=0.5, loss=square, n_estimators=50; total time=   0.3s
[CV] END ....learning_rate=0.5, loss=square, n_estimators=50; total time=   0.4s
[CV] END ...learning_rate=0.5, loss=linear, n_estimators=200; total time=   1.3s
[CV] END ...learning_rate=0.5, loss=linear, n_estimators=200; total time=   1.2s
[CV] END ...learning_rate=0.5, loss=linear, n_estimators=250; total time=   1.3s
[CV] END ...learning_rate=0.5, loss=square, n_estimators=100; total time=   0.7s
[CV] END ...learning_rate=0.5, loss=square, n_estimators=100; total time=   0.8s
[CV] END ...learning_rate=0.5, loss=square, n_estimators=100; total time=   0.7s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=50; total time=   0.4s
[CV] END ...learning_rate=0.5, loss=linear, n_estimators=250; total time=   1.6s
[CV] END ...learning_rate=0.5, loss=square, n_estimators=200; total time=   1.1s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=50; total time=   0.3s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=50; total time=   0.3s
[CV] END ...learning_rate=0.5, loss=square, n_estimators=200; total time=   1.1s
[CV] END ...learning_rate=0.5, loss=square, n_estimators=200; total time=   1.2s
[CV] END ...learning_rate=0.5, loss=square, n_estimators=250; total time=   1.3s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=100; total time=   0.6s
[CV] END ...learning_rate=0.5, loss=square, n_estimators=250; total time=   1.4s
[CV] END ...learning_rate=0.5, loss=square, n_estimators=250; total time=   1.4s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=100; total time=   0.7s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=100; total time=   0.7s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=50; total time=   0.3s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=50; total time=   0.3s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=200; total time=   1.1s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=200; total time=   1.2s
[CV] END ....learning_rate=1.0, loss=linear, n_estimators=50; total time=   0.3s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=200; total time=   1.1s
[CV] END ...learning_rate=1.0, loss=linear, n_estimators=100; total time=   0.5s
[CV] END ...learning_rate=1.0, loss=linear, n_estimators=100; total time=   0.6s
[CV] END ...learning_rate=1.0, loss=linear, n_estimators=100; total time=   0.6s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=250; total time=   1.3s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=250; total time=   1.4s
[CV] END learning_rate=0.5, loss=exponential, n_estimators=250; total time=   1.4s
[CV] END ...learning_rate=1.0, loss=linear, n_estimators=200; total time=   1.0s
[CV] END ...learning_rate=1.0, loss=linear, n_estimators=200; total time=   0.7s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=50; total time=   0.3s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=50; total time=   0.3s
[CV] END ...learning_rate=1.0, loss=linear, n_estimators=200; total time=   0.9s
[CV] END ....learning_rate=1.0, loss=square, n_estimators=50; total time=   0.3s
[CV] END ...learning_rate=1.0, loss=linear, n_estimators=250; total time=   0.9s
[CV] END ...learning_rate=1.0, loss=square, n_estimators=100; total time=   0.5s
[CV] END ...learning_rate=1.0, loss=square, n_estimators=100; total time=   0.5s
[CV] END ...learning_rate=1.0, loss=linear, n_estimators=250; total time=   1.2s
[CV] END ...learning_rate=1.0, loss=square, n_estimators=100; total time=   0.6s
[CV] END ...learning_rate=1.0, loss=linear, n_estimators=250; total time=   1.1s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=50; total time=   0.3s
[CV] END ...learning_rate=1.0, loss=square, n_estimators=200; total time=   0.9s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=50; total time=   0.3s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=50; total time=   0.3s
[CV] END ...learning_rate=1.0, loss=square, n_estimators=200; total time=   0.9s
[CV] END ...learning_rate=1.0, loss=square, n_estimators=200; total time=   1.0s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=100; total time=   0.5s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=100; total time=   0.6s
[CV] END ...learning_rate=1.0, loss=square, n_estimators=250; total time=   1.2s
[CV] END ...learning_rate=1.0, loss=square, n_estimators=250; total time=   1.2s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=100; total time=   0.6s
[CV] END ...learning_rate=1.0, loss=square, n_estimators=250; total time=   1.2s
[CV] END ......learning_rate=1, loss=linear, n_estimators=50; total time=   0.3s
[CV] END ......learning_rate=1, loss=linear, n_estimators=50; total time=   0.4s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=200; total time=   1.1s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=200; total time=   1.1s
[CV] END ......learning_rate=1, loss=linear, n_estimators=50; total time=   0.3s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=200; total time=   1.1s
[CV] END .....learning_rate=1, loss=linear, n_estimators=100; total time=   0.6s
[CV] END .....learning_rate=1, loss=linear, n_estimators=100; total time=   0.5s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=250; total time=   1.4s
[CV] END .....learning_rate=1, loss=linear, n_estimators=100; total time=   0.6s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=250; total time=   1.3s
[CV] END learning_rate=1.0, loss=exponential, n_estimators=250; total time=   1.4s
[CV] END .....learning_rate=1, loss=linear, n_estimators=200; total time=   0.6s
[CV] END ......learning_rate=1, loss=square, n_estimators=50; total time=   0.3s
[CV] END .....learning_rate=1, loss=linear, n_estimators=250; total time=   0.5s
[CV] END ......learning_rate=1, loss=square, n_estimators=50; total time=   0.3s
[CV] END ......learning_rate=1, loss=square, n_estimators=50; total time=   0.2s
[CV] END .....learning_rate=1, loss=linear, n_estimators=200; total time=   1.0s
[CV] END .....learning_rate=1, loss=linear, n_estimators=200; total time=   1.0s
[CV] END .....learning_rate=1, loss=square, n_estimators=100; total time=   0.5s
[CV] END .....learning_rate=1, loss=square, n_estimators=100; total time=   0.5s
[CV] END .....learning_rate=1, loss=linear, n_estimators=250; total time=   0.9s
[CV] END .....learning_rate=1, loss=square, n_estimators=100; total time=   0.5s
[CV] END .learning_rate=1, loss=exponential, n_estimators=50; total time=   0.3s
[CV] END .....learning_rate=1, loss=linear, n_estimators=250; total time=   1.3s
[CV] END .....learning_rate=1, loss=square, n_estimators=200; total time=   1.0s
[CV] END .....learning_rate=1, loss=square, n_estimators=200; total time=   1.0s
[CV] END .learning_rate=1, loss=exponential, n_estimators=50; total time=   0.3s
[CV] END .learning_rate=1, loss=exponential, n_estimators=50; total time=   0.3s
[CV] END .....learning_rate=1, loss=square, n_estimators=200; total time=   0.9s
[CV] END .....learning_rate=1, loss=square, n_estimators=250; total time=   1.1s
[CV] END .....learning_rate=1, loss=square, n_estimators=250; total time=   1.1s
[CV] END learning_rate=1, loss=exponential, n_estimators=100; total time=   0.6s
[CV] END learning_rate=1, loss=exponential, n_estimators=100; total time=   0.6s
[CV] END .....learning_rate=1, loss=square, n_estimators=250; total time=   1.2s
[CV] END learning_rate=1, loss=exponential, n_estimators=100; total time=   0.5s
[CV] END ......learning_rate=5, loss=linear, n_estimators=50; total time=   0.2s
[CV] END ......learning_rate=5, loss=linear, n_estimators=50; total time=   0.2s
[CV] END ......learning_rate=5, loss=linear, n_estimators=50; total time=   0.2s
[CV] END learning_rate=1, loss=exponential, n_estimators=200; total time=   1.0s
[CV] END learning_rate=1, loss=exponential, n_estimators=200; total time=   1.1s
[CV] END .....learning_rate=5, loss=linear, n_estimators=100; total time=   0.5s
[CV] END learning_rate=1, loss=exponential, n_estimators=200; total time=   1.0s
[CV] END .....learning_rate=5, loss=linear, n_estimators=100; total time=   0.4s
[CV] END .....learning_rate=5, loss=linear, n_estimators=100; total time=   0.4s
[CV] END learning_rate=1, loss=exponential, n_estimators=250; total time=   1.3s
[CV] END learning_rate=1, loss=exponential, n_estimators=250; total time=   1.3s
[CV] END learning_rate=1, loss=exponential, n_estimators=250; total time=   1.3s
[CV] END ......learning_rate=5, loss=square, n_estimators=50; total time=   0.2s
[CV] END ......learning_rate=5, loss=square, n_estimators=50; total time=   0.3s
[CV] END .....learning_rate=5, loss=linear, n_estimators=200; total time=   0.9s
[CV] END .....learning_rate=5, loss=linear, n_estimators=200; total time=   0.9s
[CV] END ......learning_rate=5, loss=square, n_estimators=50; total time=   0.2s
[CV] END .....learning_rate=5, loss=linear, n_estimators=200; total time=   0.9s
[CV] END .....learning_rate=5, loss=square, n_estimators=100; total time=   0.4s
[CV] END .....learning_rate=5, loss=square, n_estimators=100; total time=   0.4s
[CV] END .....learning_rate=5, loss=square, n_estimators=100; total time=   0.4s
[CV] END .....learning_rate=5, loss=linear, n_estimators=250; total time=   1.2s
[CV] END .....learning_rate=5, loss=linear, n_estimators=250; total time=   1.2s
[CV] END .learning_rate=5, loss=exponential, n_estimators=50; total time=   0.2s
[CV] END .....learning_rate=5, loss=square, n_estimators=200; total time=   0.7s
[CV] END .....learning_rate=5, loss=linear, n_estimators=250; total time=   1.3s
[CV] END .learning_rate=5, loss=exponential, n_estimators=50; total time=   0.2s
[CV] END .....learning_rate=5, loss=square, n_estimators=200; total time=   0.7s
[CV] END .learning_rate=5, loss=exponential, n_estimators=50; total time=   0.2s
[CV] END .....learning_rate=5, loss=square, n_estimators=200; total time=   0.8s
[CV] END .....learning_rate=5, loss=square, n_estimators=250; total time=   0.9s
[CV] END learning_rate=5, loss=exponential, n_estimators=100; total time=   0.4s
[CV] END learning_rate=5, loss=exponential, n_estimators=100; total time=   0.3s
[CV] END learning_rate=5, loss=exponential, n_estimators=100; total time=   0.4s
[CV] END .....learning_rate=5, loss=square, n_estimators=250; total time=   1.0s
[CV] END .....learning_rate=5, loss=square, n_estimators=250; total time=   1.1s
[CV] END learning_rate=5, loss=exponential, n_estimators=200; total time=   0.7s
[CV] END learning_rate=5, loss=exponential, n_estimators=200; total time=   0.7s
[CV] END learning_rate=5, loss=exponential, n_estimators=200; total time=   0.6s
[CV] END learning_rate=5, loss=exponential, n_estimators=250; total time=   0.7s
[CV] END learning_rate=5, loss=exponential, n_estimators=250; total time=   0.7s
[CV] END learning_rate=5, loss=exponential, n_estimators=250; total time=   0.8s
----------------- Best Params for AdaBoostRegressor -----------------
{'n_estimators': 250, 'loss': 'linear', 'learning_rate': 0.05}

In [28]:
models = {
    "AdaBoostRegressor": AdaBoostRegressor(
        learning_rate=0.05,
        loss='linear',
        n_estimators=250
    )
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    # make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)
    print(list(models.keys())[i])
    print("----- Model Performanace for Training Set -----------")
    print("Root Mean Squared Error: ", model_train_rmse)
    print("Mean Absolute Error ", model_train_mae)
    print("R2 Score ", model_train_r2)
    print(" -------------------------------------------- ")
    print("----- Model Performanace for Testing Set -----------")
    print("Root Mean Squared Error: ", model_test_rmse)
    print("Mean Absolute Error ", model_test_mae)
    print("R2 Score ", model_test_r2)
    print()

AdaBoostRegressor
----- Model Performanace for Training Set -----------
Root Mean Squared Error:  356652.2288097042
Mean Absolute Error  241503.95787707096
R2 Score  0.8447973076612074
 --------------------------------------------
----- Model Performanace for Testing Set -----------
Root Mean Squared Error:  442300.64984632155
Mean Absolute Error  263869.06639792473
R2 Score  0.7398758031236634