# Encoding
#### Norminal/One Hot Encoding (OHE)

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
## create a simple dataframe
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'blue', 'red', 'red', 'green']
})
df.head()

   color
0    red
1   blue
2  green
3   blue
4    red

In [18]:
### create an instance of OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)
### fit and transform the data
encoded_data = encoder.fit_transform(df[['color']])

In [19]:
import pandas as pd
encoder_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out())

In [20]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         1.0          0.0        0.0
4         0.0          0.0        1.0
5         0.0          0.0        1.0
6         0.0          1.0        0.0

In [25]:
encoder.transform([['blue']])

/Users/pramodkumar/Python/.venv/lib/python3.12/site-packages/sklearn/utils/validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [26]:
pd.concat([df, encoder_df], axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3   blue         1.0          0.0        0.0
4    red         0.0          0.0        1.0
5    red         0.0          0.0        1.0
6  green         0.0          1.0        0.0